In [1]:
import pandas as pd
import requests
from plyer import notification

banks_url = 'https://brasilapi.com.br/api/banks/v1'
response = requests.get(banks_url)

if response.status_code == 200:
    print('Dados importados com sucesso')
    data_json = response.json()
else: 
    print('Erro ao acessar a API')

banks_json = response.json()
df = pd.DataFrame(banks_json)

df.rename(columns={'name': 'Nome', 'fullName': 'Nome Completo' }, inplace=True)
  
df.head()

df

Dados importados com sucesso

,ispb,Nome,code,Nome Completo
0,00000000,BCO DO BRASIL S.A.,1.0,Banco do Brasil S.A.
1,00000208,BRB - BCO DE BRASILIA S.A.,70.0,BRB - BANCO DE BRASILIA S.A.
2,00038121,Selic,NaN,Banco Central do Brasil - Selic
3,00038166,Bacen,NaN,Banco Central do Brasil
4,00122327,SANTINVEST S.A. - CFI,539.0,"SANTINVEST S.A. - CREDITO, FINANCIAMENTO E INV..."
...,...,...,...,...
354,92875780,WARREN CVMC LTDA,371.0,WARREN CORRETORA DE VALORES MOBILIÁRIOS E CÂMB...
355,92894922,BANCO ORIGINAL,212.0,Banco Original S.A.
356,94968518,EFX CC LTDA.,289.0,EFX CORRETORA DE CÂMBIO LTDA.
357,,NaN,NaN,NaN
358,,NaN,NaN,NaN

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359 entries, 0 to 358
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ispb           359 non-null    object
 1   Nome           357 non-null    object
 2   code           348 non-null    float64
 3   Nome Completo  357 non-null    object
dtypes: float64(1), object(3)
memory usage: 11.3+ KB

In [46]:
filled_df = df.fillna(-1)
print(filled_df)

df = df.dropna()
df

         ispb                        Nome   code  \
0    00000000          BCO DO BRASIL S.A.    1.0
1    00000208  BRB - BCO DE BRASILIA S.A.   70.0
2    00038121                       Selic   -1.0
3    00038166                       Bacen   -1.0
4    00122327       SANTINVEST S.A. - CFI  539.0
..        ...                         ...    ...
354  92875780            WARREN CVMC LTDA  371.0
355  92894922              BANCO ORIGINAL  212.0
356  94968518                EFX CC LTDA.  289.0
357                                    -1   -1.0
358                                    -1   -1.0

                                         Nome Completo
0                                 Banco do Brasil S.A.
1                         BRB - BANCO DE BRASILIA S.A.
2                      Banco Central do Brasil - Selic
3                              Banco Central do Brasil
4    SANTINVEST S.A. - CREDITO, FINANCIAMENTO E INV...
..                                                 ...
354  WARREN CORRETORA DE VALORES MOBILIÁRIOS E CÂMB...
355                                Banco Original S.A.
356                      EFX CORRETORA DE CÂMBIO LTDA.
357                                                 -1
358                                                 -1

[359 rows x 4 columns]

,ispb,Nome,code,Nome Completo
0,00000000,BCO DO BRASIL S.A.,1.0,Banco do Brasil S.A.
1,00000208,BRB - BCO DE BRASILIA S.A.,70.0,BRB - BANCO DE BRASILIA S.A.
4,00122327,SANTINVEST S.A. - CFI,539.0,"SANTINVEST S.A. - CREDITO, FINANCIAMENTO E INV..."
5,00204963,CCR SEARA,430.0,COOPERATIVA DE CREDITO RURAL SEARA - CREDISEARA
6,00250699,AGK CC S.A.,272.0,AGK CORRETORA DE CAMBIO S.A.
...,...,...,...,...
352,92856905,ADVANCED CC LTDA,117.0,ADVANCED CORRETORA DE CÂMBIO LTDA
353,92874270,BCO DIGIMAIS S.A.,654.0,BANCO DIGIMAIS S.A.
354,92875780,WARREN CVMC LTDA,371.0,WARREN CORRETORA DE VALORES MOBILIÁRIOS E CÂMB...
355,92894922,BANCO ORIGINAL,212.0,Banco Original S.A.
356,94968518,EFX CC LTDA.,289.0,EFX CORRETORA DE CÂMBIO LTDA.

In [35]:
df[df['code'] > 200]

,ispb,Nome,code,Nome Completo
4,00122327,SANTINVEST S.A. - CFI,539.0,"SANTINVEST S.A. - CREDITO, FINANCIAMENTO E INV..."
5,00204963,CCR SEARA,430.0,COOPERATIVA DE CREDITO RURAL SEARA - CREDISEARA
6,00250699,AGK CC S.A.,272.0,AGK CORRETORA DE CAMBIO S.A.
8,00329598,ÍNDIGO INVESTIMENTOS DTVM LTDA.,407.0,ÍNDIGO INVESTIMENTOS DISTRIBUIDORA DE TÍTULOS ...
12,00460065,COLUNA S.A. DTVM,423.0,COLUNA S/A DISTRIBUIDORA DE TITULOS E VALORES ...
...,...,...,...,...
350,91884981,BANCO JOHN DEERE S.A.,217.0,Banco John Deere S.A.
353,92874270,BCO DIGIMAIS S.A.,654.0,BANCO DIGIMAIS S.A.
354,92875780,WARREN CVMC LTDA,371.0,WARREN CORRETORA DE VALORES MOBILIÁRIOS E CÂMB...
355,92894922,BANCO ORIGINAL,212.0,Banco Original S.A.
356,94968518,EFX CC LTDA.,289.0,EFX CORRETORA DE CÂMBIO LTDA.

In [32]:
df.loc[df['code'] > 200, 'Nome']

4                SANTINVEST S.A. - CFI
5                            CCR SEARA
6                          AGK CC S.A.
8      ÍNDIGO INVESTIMENTOS DTVM LTDA.
12                    COLUNA S.A. DTVM
                    ...
350              BANCO JOHN DEERE S.A.
353                  BCO DIGIMAIS S.A.
354                   WARREN CVMC LTDA
355                     BANCO ORIGINAL
356                       EFX CC LTDA.
Name: Nome, Length: 245, dtype: object

In [33]:
indexed_df = df.set_index(['ispb', 'Nome', 'Nome Completo'])

df_stacked = df.stack()

print(df_stacked)
print(indexed_df)

0    ispb                                  00000000
     Nome                        BCO DO BRASIL S.A.
     code                                       1.0
     Nome Completo             Banco do Brasil S.A.
1    ispb                                  00000208
                                  ...
356  Nome                              EFX CC LTDA.
     code                                     289.0
     Nome Completo    EFX CORRETORA DE CÂMBIO LTDA.
357  ispb
358  ispb
Length: 1421, dtype: object
                                                                                         code
ispb     Nome                       Nome Completo
00000000 BCO DO BRASIL S.A.         Banco do Brasil S.A.                                  1.0
00000208 BRB - BCO DE BRASILIA S.A. BRB - BANCO DE BRASILIA S.A.                         70.0
00038121 Selic                      Banco Central do Brasil - Selic                       NaN
00038166 Bacen                      Banco Central do Brasil                               NaN
00122327 SANTINVEST S.A. - CFI      SANTINVEST S.A. - CREDITO, FINANCIAMENTO E INVE...  539.0
...                                                                                       ...
92875780 WARREN CVMC LTDA           WARREN CORRETORA DE VALORES MOBILIÁRIOS E CÂMBI...  371.0
92894922 BANCO ORIGINAL             Banco Original S.A.                                 212.0
94968518 EFX CC LTDA.               EFX CORRETORA DE CÂMBIO LTDA.                       289.0
         NaN                        NaN                                                   NaN
                                    NaN                                                   NaN

[359 rows x 1 columns]