In [1]:
import pandas as pd

df = pd.read_excel("best-selling game consoles (2).xlsx",
                    sheet_name='consoles')

df.head

<bound method NDFrame.head of                          Console Name                 Type  \
0                       PlayStation 2                 Home
1                         Nintendo DS             Handheld
2                     Nintendo Switch               Hybrid
3                            Game Boy             Handheld
4                      Game Boy Color             Handheld
5                       PlayStation 4                 Home
6                         PlayStation                 Home
7                                 Wii                 Home
8                       PlayStation 3                 Home
9                            Xbox 360                 Home
10                   Game Boy Advance             Handheld
11               PlayStation Portable             Handheld
12                       Nintendo 3DS             Handheld
13                        NES/Famicom                 Home
14                           Xbox One                 Home
15                 SNES/Super Famicom                 Home
16                       Game & Watch             Handheld
17                        Nintendo 64                 Home
18            Sega Genesis/Mega Drive                 Home
19                      PlayStation 5                 Home
20                         Atari 2600                 Home
21                               Xbox                 Home
22                           GameCube                 Home
23                    Xbox Series X/S                 Home
24                              Wii U                 Home
25                   PlayStation Vita             Handheld
26                 Sega Master System                 Home
27                     Sega Game Gear             Handheld
28            PC Engine/TurboGrafx-16                 Home
29                        Sega Saturn                 Home
30                          Dreamcast                 Home
31  Master System(Brazilian variants)                 Home
32                   Dendy(Famiclone)                 Home
33          Super NES Classic Edition            Dedicated
34                Famicom Disk System  Home console add-on
35                NES Classic Edition            Dedicated
36                         WonderSwan             Handheld
37                          Sega Pico                 Home
38                      Color TV-Game            Dedicated
39                      Intellivision                 Home
40     Mega Drive(Brazilian variants)                 Home
41                             N-Gage             Handheld
42                            Sega CD  Home console add-on
43                       ColecoVision                 Home
44                   Magnavox Odyssey                 Home
45                   PC Engine CD-ROM  Home console add-on
46                         Atari 7800                 Home
47                         Atari Lynx             Handheld
48                       Philips CD-i                 Home
49                            Telstar            Dedicated
50                         Atari 5200                 Home

                    Company  Released Year  Discontinuation Year  \
0                      Sony           2000                  2013
1                  Nintendo           2004                  2013
2                  Nintendo           2017                     0
3                  Nintendo           1989                  2003
4                  Nintendo           1998                  2003
5                      Sony           2013                     0
6                      Sony           1994                  2006
7                  Nintendo           2006                  2013
8                      Sony           2006                  2017
9                 Microsoft           2005                  2016
10                 Nintendo           2001                  2010
11                     Sony           2004                  2014
12                 Nintendo           2011                  2020
13                 Nintendo           1983                  2003
14                Microsoft           2013                  2020
15                 Nintendo           1990                  2003
16                 Nintendo           1980                  1991
17                 Nintendo           1996                  2002
18                     Sega           1988                  1997
19                     Sony           2020                     0
20                    Atari           1977                  1992
21                Microsoft           2001                  2009
22                 Nintendo           2001                  2007
23                Microsoft           2020                     0
24                 Nintendo           2012                  2017
25                     Sony           2011                  2019
26                     Sega           1986                  1996
27                     Sega           1990                  1997
28  NEC/Hudson Soft[note 6]           1987                  1994
29                     Sega           1994                  2000
30                     Sega           1998                  2001
31                   Tectoy           1989                  1996
32             Micro Genius           1992                  1998
33                 Nintendo           2017                  2018
34                 Nintendo           1986                  1992
35                 Nintendo           2016                  2018
36                   Bandai           1999                  2018
37                     Sega           1993                  1998
38                 Nintendo           1977                  1980
39                   Mattel           1980                  1990
40                   Tectoy           1990                  1996
41                    Nokia           2003                  2005
42                     Sega           1991                  1996
43                   Coleco           1982                  1985
44         Magnavox/Philips           1978                  1975
45                      NEC           1988                  1998
46                    Atari           1986                  1991
47                    Atari           1989                  1995
48                  Philips           1990                  1998
49                   Coleco           1976                  1978
50                    Atari           1982                  1984

    Units sold (million)                                            Remarks
0                 155.00           Final sales are greater than 155 million
1                 154.02                                                NaN
2                 122.55                                                NaN
3                  64.42  The Game Boy (1989) and the Game Boy Color (19...
4                  44.06                                                NaN
5                 117.20                                                NaN
6                 102.49                                                NaN
7                 101.63                                                NaN
8                  87.40          Final sales are greater than 87.4 million
9                  84.00            Final sales are greater than 84 million
10                 81.51                                                NaN
11                 82.00                    Estimated between 80-82 million
12                 75.94                                                NaN
13                 61.91                                                NaN
14                 58.50                  Estimated between 51-58.5 million
15                 49.10                                                NaN
16                 43.40                                                NaN
17                 32.93                                                NaN
18                 30.75                                                NaN
19                 30.00                                                NaN
20                 30.00                                                NaN
21                 24.00                                                NaN
22                 21.74                                                NaN
23                 18.50                  Approximately around 18.5 million
24                 13.56                                                NaN
25                 15.00                    Estimated between 10-15 million
26                 13.00  Estimated between 10-13 million. Fun Fact The ...
27                 10.62                                                NaN
28                 10.00                                                NaN
29                  9.26                                                NaN
30                  9.13                                                NaN
31                  8.00                                                NaN
32                  6.00                                                NaN
33                  5.28                                                NaN
34                  4.50                                                NaN
35                  3.56                                                NaN
36                  3.50                                                NaN
37                  3.40           Final sales are greater than 3.4 million
38                  3.00                                                NaN
39                  3.00                                                NaN
40                  3.00                                                NaN
41                  3.00                                                NaN
42                  2.24                                                NaN
43                  2.00             Final sales are greater than 2 million
44                  2.00                                                NaN
45                  1.92                                                NaN
46                  1.00             Final sales are greater than 1 million
47                  1.00             Final sales are greater than 1 million
48                  1.00             Final sales are greater than 1 million
49                  1.00             Final sales are greater than 1 million
50                  1.00             Final sales are greater than 1 million  >

In [3]:
df['Console Name'].count()

51

In [11]:
quantidade_por_companhia = df.groupby('Company')['Console Name'].sum()


quantidade_por_companhia = quantidade_por_companhia.sort_values(ascending=False)

quantidade_por_companhia

Company
Microsoft                                Xbox 360Xbox OneXboxXbox Series X/S
Bandai                                                            WonderSwan
Sega                       Sega Genesis/Mega DriveSega Master SystemSega ...
Sony                       PlayStation 2PlayStation 4PlayStationPlayStati...
Philips                                                         Philips CD-i
NEC/Hudson Soft[note 6]                              PC Engine/TurboGrafx-16
NEC                                                         PC Engine CD-ROM
Nintendo                   Nintendo DSNintendo SwitchGame BoyGame Boy Col...
Nokia                                                                 N-Gage
Tectoy                     Master System(Brazilian variants)Mega Drive(Br...
Magnavox/Philips                                            Magnavox Odyssey
Mattel                                                         Intellivision
Micro Genius                                                Dendy(Famiclone)
Coleco                                                   ColecoVisionTelstar
Atari                               Atari 2600Atari 7800Atari LynxAtari 5200
Name: Console Name, dtype: object

In [30]:

df2 = pd.read_csv('company.txt')

df2

                    Company  Market Value
0                     Atari          4160
1                    Bandai           913
2                    Coleco           767
3          Magnavox/Philips           693
4                    Mattel           548
5              Micro Genius           689
6                 Microsoft          3154
7                       NEC           387
8   NEC/Hudson Soft[note 6]           547
9                  Nintendo         22615
10                    Nokia           637
11                  Philips           899
12                     Sega         10391
13                     Sony          7177
14                   Tectoy          2538

In [35]:
df3 = pd.concat([df,df2])

df3

,Console Name,Type,Company,Released Year,Discontinuation Year,Units sold (million),Remarks,Market Value
0,PlayStation 2,Home,Sony,2000.0,2013.0,155.00,Final sales are greater than 155 million,NaN
1,Nintendo DS,Handheld,Nintendo,2004.0,2013.0,154.02,NaN,NaN
2,Nintendo Switch,Hybrid,Nintendo,2017.0,0.0,122.55,NaN,NaN
3,Game Boy,Handheld,Nintendo,1989.0,2003.0,64.42,The Game Boy (1989) and the Game Boy Color (19...,NaN
4,Game Boy Color,Handheld,Nintendo,1998.0,2003.0,44.06,NaN,NaN
...,...,...,...,...,...,...,...,...
10,NaN,NaN,Nokia,NaN,NaN,NaN,NaN,637.0
11,NaN,NaN,Philips,NaN,NaN,NaN,NaN,899.0
12,NaN,NaN,Sega,NaN,NaN,NaN,NaN,10391.0
13,NaN,NaN,Sony,NaN,NaN,NaN,NaN,7177.0
14,NaN,NaN,Tectoy,NaN,NaN,NaN,NaN,2538.0

In [37]:
df3['Market Value'].mean

<bound method Series.mean of 0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
       ...
10      637.0
11      899.0
12    10391.0
13     7177.0
14     2538.0
Name: Market Value, Length: 66, dtype: float64>